/* global */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap');
html{
    font-family: "Roboto";
}
body{
    background-color: rgb(204, 195, 195);
}
/* global */
/* navigation */

nav ul {
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    justify-content: space-around; 
    font-size: x-large; 
    list-style-type: none;
    text-transform: uppercase;
}

nav {
    widows: 100%;
    height:66px;
    background-color: darkgray;
    line-height: 66px;
    border-radius: 10px;
   
}

nav a{ 
     text-decoration: none;
     color: white;
     display: flex;
     justify-content: center;
     border-bottom: 2px solid transparent;
     transition: all 0.5s ease-in-out;
     
    
}

nav a:hover{
    padding-top: 100px;
    margin-bottom:-8px;
    border-color: white;
    padding-bottom: -30px;
    font-size: 30px;
    /* border-bottom: 6px solid white; */
}
header div {
    display: flex;flex-direction: row; justify-content: center;
}

header h1{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background-image: url(images/team_rocket.png); background-position: center; 
    background-size: cover; color: #FFFF; height: 50vh; width:100%; 
    font-size: 5rem; 
    text-shadow: #0000;
    border-radius: 10px;
}
/* navigation */

/* body */

h1{ 
   font-family:"Lato";
}

/* body */

section {
    text-align: center; padding:2%
}
 footer{ 
    display: flex; align-items: center; justify-content: space-around;
}
footer img:hover{
    width: 80px;
    
}