.box{
    display: flex;
    justify-content: center;
    float: center;
    width: fit-content;
    background-color:white;
    animation-name: colorchange;
    animation-duration: 4s;
    margin-top: 13em;
  }
  
  @keyframes colorchange {
    from {background-color:blue;}
    to {background-color:#330867;}
  }


.image{
    width:300px;
    height: 200px;
        opacity: 0.5;
}
      img:hover {
        opacity: 1.0;
      }

footer{
    display: flex;
    justify-content:center;
    background-color: violet;
    width: fit-content;
    float:center;
    margin-top: 133;
}

strong{
        margin-top: -350px;
        position: absolute;
        top: 50%; 
        right: 50%;
        transform: translate(50%,-50%);
        text-transform: uppercase;
        font-family: verdana;
        font-size: 2em;
        font-weight: 700;
        color:yellow;
        text-shadow: 1px 1px 1px #919191,
            1px 2px 1px #919191,
            1px 3px 1px #919191,
            1px 4px 1px #919191,
            1px 5px 1px #919191,
            1px 6px 1px #919191,
            1px 7px 1px #919191,
            1px 8px 1px #919191,
            1px 9px 1px #919191,
            1px 10px 1px #919191,
        1px 18px 6px rgba(16,16,16,0.4),
        1px 22px 10px rgba(16,16,16,0.2),
        1px 25px 35px rgba(16,16,16,0.2),
        1px 30px 60px rgba(16,16,16,0.4);
    
}

.box4{
    font-family: 'Hind Siliguri', sans-serif;


}

.box3{
    text-decoration: underline;
    padding: 12;

}

.box2{
    display:block;
    border: 12px solid burlywood;
    padding:5px;
    margin-top:5px;
    width:300px;
    height:50px;
    overflow:auto;
}

body{
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    background-repeat: no-repeat;
}