/* global */
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
/* global */
body{
  background-color: rgb(227, 231, 238);
}

#Nom{font-size: 50 px;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

#job{ font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      font-style: italic;
      
}


header{ background-color:#28CCCE;
        display: inline-flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
        
        
}

nav ul{ padding:0px;
        margin:0px;
        list-style-type:none;
        width: 100 %;
        height:40px;
        background-color: black;
      
}
nav li{ display: inline-flex;
       
  }

nav li a{ text-decoration: none;
         color:#FFFFFF;
         display: inline-flex;
         margin-left: 200px;
         margin-top: 10px;
           
}   

nav li :hover{ color: #fff;
    border-top: 6px solid #fff}

h2{text-align: center;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    color: gray;
}

.work{color:#FF5733;

}
        
.experience{ 
  font-family:cursive;
  font-size:20px ;
 

}
.formation{
  font-family:'Oswald', sans-serif;
  text-align: left;

}
.formation h3{ text-shadow: 2px 2px 2px grey;

}

.formation p{ margin-left: 10px;}

.langue{
  text-align: center;
}